element.style {
  margin-top: 0%;
  margin-left: 0%;
  height: 100%;
}
body {
  margin-top: 0%;
  background-color: rgb(197, 215, 231);
}
a {
  margin: 30px auto;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #1b1b46;
}
li {
  list-style: none;
}

img {
  margin-top: 0%;
  width: 100%;
}

p {
  text-align: justify;
  margin: 10px 20px;
  color: rgb(109, 109, 123);
}
h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #1b1b46;
}
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #bd4545;
  opacity: 90%;
}
footer {
  color: #1b1b46;
  margin-top: 50px;
  text-align: center;
}
.btn {
  background-color: rgb(34, 208, 86);
  height: 30px;
  width: 70px;
  border-radius: 25px;
  border-color: white;
}
